<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="{{ .Site.BaseURL }}">
  <title>{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>

	{{ $styles := resources.Get "css/main.css" | postCSS }}
	{{ if .Site.IsServer }}
		<link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
	{{ else }}
	{{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
		<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
	{{ end }}

</head>
<body class="flex flex-col flex-grow min-h-screen justify-between">

  <div class="box-brand py-6 border-b-8">
    <div class="container flex flex-row justify-between items-baseline">
      <a href="{{ .Site.BaseURL }}" class="text-xl">
        <h1>{{ .Site.Title }}</h1>
      </a>
      <nav class="justify-end">
        {{ range .Site.Menus.main }}
          <a href="{{ .URL | absURL }}" class="ml-3 px-2 py-1 hover:bg-purple-500">{{ .Name }}</a>
        {{ end }}
      </nav>    
    </div>
  </div>
	
  {{ block "main" . }}{{ end }}
  
  <footer class="box-brand py-12 mt-8 border-t-8">
    <div class="container">
      <p class="font-light">
        &copy; {{ now.Year }} <a href="https://molotec.com" class="hover:underline">Molotec</a>
      </p>
      {{ with site.Params.repo  }}
        <p class="font-light">
          <a href="{{ . }}" class="hover:underline">Repo en Gitlab</a>
        </p>
      {{ end }}
    </div>
  </footer>
</body>
</html>
