<a href="{{ .Permalink | absURL }}" class="block hover:bg-gray-100 p-3 mb-6">
  <article class="flex flex-row flex-wrap align-top">
    <!-- Image -->
    <div class="w-full md:w-1/3">
      <figure class="aspect-w-16 aspect-h-9">
        {{ partial "image-list-item.html" . }}
      </figure>
    </div>
    <!-- Content -->
    <div class="w-full md:w-2/3 md:pl-4">
      <h2 class="text-2xl">
        {{ .Title | emojify }}
      </h2>
      {{ if .Draft }}<p>Draft</p>{{ end }}
      <p class="text-gray-400">{{ .Date.Format "02-01-2006" }}</p>
      <div class="prose lg:prose-xl">
        {{ .Summary | emojify }}
      </div>
    </div>
  </article>
  <div class="flex flex-col md:flex-row justify-start border-gray-300 text-gray-500 border-t mt-3">
    {{ with .Params.hosts }}
      <p class="mr-6">hosts: {{ . }}</p>
    {{end}}
    {{ with .Params.techs }}
      <p class="mr-6">techs: {{ . }}</p>
    {{end}}
    {{ with .Params.projects }}
      <p class="mr-6">projects: {{ . }}</p>
    {{end}}
  </div>

</a>
