{{ define "main" }}

{{ partial "image-header.html" . }}
<div class="container">
  
  <!-- Single Post -->
  <section>
    {{ partial "content-section.html" . }}
  </section>
  
  <!-- Post List -->
  <section>
    {{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
    {{ range sort $paginator.Pages }}
      {{ .Render "li" }}
    {{ end }}
  </section>
</div>

{{ end }}
