{{ define "main" }}

{{ partial "image-header.html" . }}
<div class="container">

  <!-- Single Post -->
  <section>
    {{ partial "content-section.html" . }}
  </section>
  
  {{ if (or (isset .Params "hosts") (isset .Params "techs") (isset .Params "project")) }}
    <div class="flex flex-col md:flex-row justify-center text-gray-500 bg-gray-50 mt-3 py-6">
      {{ with .Params.hosts }}
        <p class="md:mx-3 lg:mx-9">hosts: {{ . }}</p>
      {{end}}
      {{ with .Params.techs }}
        <p class="md:mx-3 lg:mx-9">techs: {{ . }}</p>
      {{end}}
      {{ with .Params.projects }}
        <p class="md:mx-3 lg:mx-9">projects: {{ . }}</p>
      {{end}}
    </div>
  {{ end }}
</div>

{{ end }}
