<div class="prose lg:prose-xl mx-auto my-4">
  {{ if .Draft }}<p>Draft</p>{{ end }}
  {{ with .Params.Date }}
    <p class="text-gray-400 text-center">{{ .Format "02-01-2006" }}</p>
  {{ end }}
  <h1 class="text-center">
    {{ .Title | emojify }}
  </h1>

  {{ .Content | emojify }}
</div>
