{{ define "main" }}

<div class="container">
  
  <!-- Single Post -->
  <section>
    <div class="prose mx-auto my-4">
      {{ .Content | emojify }}
    </div>
  </section>
  
  <!-- Post List -->
  <section class="my-6">
    <div class="flex flex-row justify-between items-baseline">
      <h2 class="text-3xl my-3">Ultimos Streams</h2>
      <a href="{{ "streams/" | absURL }}" class="bg-purple-100 hover:bg-purple-500 hover:text-white px-3 py-1">ver todos</a>
    </div>
    {{ range sort (where site.RegularPages "Type" "in" site.Params.mainSections) | first 3 }}
      {{ .Render "li" }}
    {{ end }}
  </section>
</div>

{{ end }}
